<div class="header-menu">

    <!-- Desktop Menu Begin -->
    <div class="container visible-md visible-lg">
        <div class="menu">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="/zarar-olasiliginiz" class="link">ZARAR OLASILIĞINIZ</a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">FOREX</a>
                    <ul class="dropdown-menu">
                        <li><a href="/forex-pariteleri">Forex Pariteleri</a></li>
                        <li><a href="/emir-tipleri">Emir Tipleri</a></li>
                        <li><a href="/borsa-endeksleri">Borsa Endeksleri</a></li>
                        <li><a href="/emtialar">Emtialar</a></li>
                        <li><a href="/islem-kosullari">İşlem Koşulları</a></li>
                        <li><a href="/swap-oranlari">Swap Oranları</a></li>
                        <li><a href="/forex-nedir">Forex Nedir ?</a></li>
                        <li><a href="/cfd-nedir">CFD Nedir ?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">PAY / VİOP</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.alnusyatirim.com/pay-piyasasi" target="_blank">Pay Senetleri</a></li>
                        <li><a href="https://www.alnusyatirim.com/viop-islemleri" target="_blank">Viop</a></li>
                        <li><a href="/islem-platformu">İşlem Platformu</a></li>
                        <li><a href="https://www.alnusyatirim.com/yatirim-fonlari" target="_blank">Yatırım Fonları</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">HESAP İŞLEMLERİ</a>
                    <ul class="dropdown-menu">
                        <li><a href="/hesap-turleri">Hesap Türleri</a></li>
                        <li><a href="/hesap-acilisi">Hesap Açılışı</a></li>
                        <li><a href="/para-yatirma-cekme">Para Yatırma & Çekme</a></li>
                        <li><a href="/banka-hesap-bilgileri">Banka Hesap Bilgileri</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">PLATFORMLAR</a>
                    <ul class="dropdown-menu">
                        <li><a href="/metatrader-4">MetaTrader 4</a></li>
                        <li><a href="/android-trader">Android Trader</a></li>
                        <li><a href="/iphone-ipad-trader">iPhone &amp; iPad Trader</a></li>
                        <li><a href="/mac-trader">Mac Trader</a></li>
                        <li><a href="/mt4-kilavuzu">MT4 Kılavuzu</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">EĞİTİM</a>
                    <ul class="dropdown-menu">
                        <li><a href="/forex-e-kitap">Forex E-Kitap</a></li>
                        <li><a href="/forex-egitimi">Forex Eğitimleri</a></li>
                        <li><a href="/forex-terimleri">Forex Terimler Sözlüğü</a></li>
                        <li><a href="/temel-analiz">Temel Analiz</a></li>
                        <li><a href="/teknik-analiz">Teknik Analiz</a></li>
                        <li><a href="/sikca-sorulan-sorular">Sıkça Sorulan Sorular</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">ANALİZLER</a>
                    <ul class="dropdown-menu">
                        <li><a href="/analizler">Tüm Analizler</a></li>
                        <li><a href="/ekonomik-takvim">Ekonomik Takvim</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">KURUMSAL</a>
                    <ul class="dropdown-menu">
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/11242" target="_blank"
                               rel="nofollow">Bilgi Toplama Hizmetleri</a></li>
                        <li><a href="/yetki-belgelerimiz">Yetki Belgelerimiz</a></li>
                        <li><a href="/yonetim-kurulu">Yönetim Kurulu</a></li>
                        <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
                        <li><a href="/baskanin-mesaji">Başkanın Mesajı</a></li>
                        <li><a href="/basinda-biz">Basında Biz</a></li>
                        <li><a href="/iletisim">İletişim</a></li>
                        <li><a href="/sikayet">Şikayet</a></li>
                        <li><a href="/insan-kaynaklari">İnsan Kaynakları</a></li>
                    </ul>
                </li>
            </ul>
            <div class="right hidden-xs">
                <md-button class="btn btn-default btn-panel" ng-click="redirectToCustomerPanel()"><i class="fa fa-shield"></i> Müşteri Paneli</md-button>
            </div>
        </div>
    </div>
    <!-- Desktop Menu End -->

    <!-- Mobil Menu Begin -->
    <nav class="navbar navbar-mobil visible-sm visible-xs">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="bundles/main/assets/images/logo.png" alt="alnus forex">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/zarar-olasiliginiz" class="link">ZARAR OLASILIĞINIZ</a>
                    </li>

                    <li class="dropdown-wrap">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FOREX<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-top-level">
                            <li><a href="/forex-pariteleri">Forex Pariteleri</a></li>
                            <li><a href="/emir-tipleri">Emir Tipleri</a></li>
                            <li><a href="/borsa-endeksleri">Borsa Endeksleri</a></li>
                            <li><a href="/emtialar">Emtialar</a></li>
                            <li><a href="/islem-kosullari">İşlem Koşulları</a></li>
                            <li><a href="/swap-oranlari">Swap Oranları</a></li>
                            <li><a href="/forex-nedir">Forex Nedir ?</a></li>
                            <li><a href="/cfd-nedir">CFD Nedir ?</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-wrap">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAY / VİOP<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/pay-senetleri">Pay Senetleri</a></li>
                            <li><a href="/viop">Viop</a></li>
                            <li><a href="/islem-platformu">İşlem Platformu</a></li>
                            <li><a href="/kolokasyon">Kolokasyon</a></li>
                            <li><a href="/yatirim-fonlari">Yatırım Fonları</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-wrap">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HESAP İŞLEMLERİ<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/hesap-turleri">Hesap Türleri</a></li>
                            <li><a href="/hesap-acilisi">Hesap Açılışı</a></li>
                            <li><a href="/para-yatirma">Para Yatırma</a></li>
                            <li><a href="/para-cekme">Para Çekme</a></li>
                            <li><a href="/banka-hesap-bilgileri">Banka Hesap Bilgileri</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-wrap">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PLATFORMLAR<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/metatrader-4">MetaTrader 4</a></li>
                            <li><a href="/android-trader">Android Trader</a></li>
                            <li><a href="/iphone-ipad-trader">iPhone &amp; iPad Trader</a></li>
                            <li><a href="/mac-trader">Mac Trader</a></li>
                            <li><a href="/mt4-kilavuzu">MT4 Kılavuzu</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-wrap">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EĞİTİM<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/seminer-webinar">Seminer/Webinar</a></li>
                            <li><a href="/forex-e-kitap">Forex E-Kitap</a></li>
                            <li><a href="/forex-egitimi">Forex Eğitimleri</a></li>
                            <li><a href="/egitim-videolari">Eğitim Videoları</a></li>
                            <li><a href="/temel-analiz">Temel Analiz</a></li>
                            <li><a href="/teknik-analiz">Teknik Analiz</a></li>
                            <li><a href="/sikca-sorulan-sorular">Sıkça Sorulan Sorular</a></li>
                            <li><a href="/alnusfx-egitim">AlnusFX Eğitim Kayıt</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/analizler" class="link">ANALİZLER</a>
                    </li>
                    <li class="dropdown-wrap">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KURUMSAL<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-top-level">
                            <li><a href="/hakkimizda">Hakkımızda</a></li>
                            <li><a href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/11242" target="_blank"
                                   rel="nofollow">Bilgi Toplama Hizmetleri</a></li>
                            <li><a href="/yetki-belgelerimiz">Yetki Belgelerimiz</a></li>
                            <li><a href="/yonetim-kurulu">Yönetim Kurulu</a></li>
                            <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
                            <li><a href="/baskanin-mesaji">Başkanın Mesajı</a></li>
                            <li><a href="/basinda-biz">Basında Biz</a></li>
                            <li><a href="/iletisim">İletişim</a></li>
                            <li><a href="/sikayet">Şikayet</a></li>
                            <li><a href="/insan-kaynaklari">İnsan Kaynakları</a></li>
                        </ul>
                    </li>
                    <li class="hesap gercek-hesap hidden-sm" ng-click="showAdvanced($event, 'gercek')">
                        <a>Gerçek Hesap</a>
                    </li>
                    <li class="hesap egitim-hesabi hidden-sm" ng-click="showAdvanced($event)">
                        <a>Eğitim Hesabı</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Mobil Menu End -->
    <div></div>
</div>