<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<img src="http://placehold.it/1200x400/cccccc/ffffff">-->
                <div class="carousel-caption">
                    <h3 class="headline">Türkiye'nin En İyi Yeni Forex Markası - Alnus Yatırım</h3>
                    <p>
                        Alnus Yatırım Menkul Değerler A.Ş. olarak İngiltere’nin en prestijli araştırma şirketlerinden Global Brands Magazine tarafından2016 yılının  “Türkiye’nin En İyi Yeni Forex Markası” ödülüne layık görüldük.
                        <br><a ng-click="$parent.showAdvanced($event)" target="_blank" class="btn btn-danger">Detaylı Bilgi <i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <!--<img src="http://placehold.it/1200x400/cccccc/ffffff">-->
                <div class="carousel-caption">
                    <h3 class="headline">FOREX İŞLEMLERİNDE TÜRK LİRASI DÖNEMİ</h3>
                    <p>
                        Türk lirası ile uluslar arası piyasalarda yatırım yapın.
                        <br><a ng-click="$parent.showAdvanced($event)" target="_blank" class="btn btn-danger">Detaylı Bilgi <i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <!--<img src="http://placehold.it/1200x400/cccccc/ffffff">-->
                <div class="carousel-caption">
                    <h3 class="headline">DİAMOND İLE EURUSD 0,6</h3>
                    <p>
                        AlnusFX ayrıcalıkları ile tanışmak için bir nedeniniz daha var. Diamond Hesap!
                        <br><a ng-click="$parent.showAdvanced($event)" target="_blank" class="btn btn-danger">Detaylı Bilgi <i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <!--<img src="http://placehold.it/1200x400/cccccc/ffffff">-->
                <div class="carousel-caption">
                    <h3 class="headline"> AlnusForex Kalitesi ile Tanışın</h3>
                    <p>
                        Altınbaş Kalitesi ile Lisanslı Forex Şirketi
                        <br><a ng-click="$parent.showAdvanced($event)" target="_blank" class="btn btn-danger">Detaylı Bilgi <i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                </div>
            </div><!-- End Item -->
        </div><!-- End Carousel Inner -->
        <div class="bg-grey">
            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Eğitim<small>Ücretsiz eğitimler</small></a></li>
                <li data-target="#myCarousel" data-slide-to="1"><a href="#">Alnus TV<small>Size özel analizler</small></a></li>
                <li data-target="#myCarousel" data-slide-to="2"><a href="#">AlnusFX<small>Yatırımda Alnus Çağı</small></a></li>
                <li data-target="#myCarousel" data-slide-to="3"><a href="#">Altınbaş<small>Kalitesi ile</small></a></li>
            </ul>
        </div>

        <div class="open-account-wrap hidden-xs hidden-sm">
            <h1 class="header bold">AlnusFX ile Yatırım Yapın</h1>
            <span class="title">Ayrıcalıkları Keşfedin</span>
            <md-button ng-click="$parent.showAdvanced($event)" class="btn open-accnt real-accnt md-raised">
                <span class="bold top">Gerçek Hesap</span>
                <span class="bold bottom">AlnusFX farkı ile tanışın</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </md-button>
            <md-button ng-click="$parent.showAdvanced($event)" class="btn open-accnt demo-accnt md-raised">
                <span class="bold top">Eğitim Hesabı</span>
                <span class="bold bottom">Ücretsiz Eğitim Hesabı</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </md-button>
        </div>
    </div><!-- End Carousel -->
</div>

